<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>


<div class="container signin">
  <form role="form">
    <div class="form-group">
      <label type="text" for="inputName" class="control-label">Name:</label>
      <input type="name" class="form-control" id="inputName" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="inputEmail" class="control-label">Email:</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="inputPassword" class="control-label">Password:</label>
      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="inputConfirmation" class="control-label">Confirmation:</label>
      <input type="confirmation" class="form-control" id="inputConfirmation" placeholder="Password Confirmation">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-lg btn-primary">Sign Up!</button>
  </div>
  </form>
</div>

<!--<div class="form-horizontal" role="form">
  <div class="form-group">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.label :name %>
  </div>
      
          <%= f.text_field :name %>
     
      <div class="form-group">
          <%= f.label :email %>
  
      
        <%= f.text_field :email %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
    
      
        <%= f.password_field :password %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, "Confirmation" %>
      
     
        <%= f.password_field :password_confirmation %>
      </div>
      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>-->